<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkXg7yXq4zewF6FMvcgObAKJ3kM5AdOBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>76929809769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TestProject</string>
	<key>PROJECT_ID</key>
	<string>creatingapp-f78ad</string>
	<key>STORAGE_BUCKET</key>
	<string>creatingapp-f78ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76929809769:ios:55c836aed858c8e807d1f8</string>
</dict>
</plist>